.projects {
    background-image: url("../../images/project.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-size: 100px;
}

@media only screen and (max-width: 1366px) {
    .projects {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 960px) {
    .projects {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .projects {
        font-size: 50px;
    }
}
