.resume {
    background-image: url("../../images/resume.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.resume-header {
    font-size: 100px;
}

@media only screen and (max-width: 1366px) {
    .resume {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 960px) {
    .resume > h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .resume > h1 {
        font-size: 50px;
    }
}
